





/*ESTILO NAGUSIA*/

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #e5e4e4; 
	font-size: 1em;
	line-height: 1.5em;
    display: flex;
    flex-direction: column;
    min-height: 100vh; 
}
main{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

/*ESTILO NAGUSIA*/


/*****************MAIN CONTENT hasi******************/

h4 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px;
	text-align: center;
}

p {
	margin: 0 0 1.5em 0;
}

#main-content {
	background: white;
	max-width: 800px;
    min-width: 600px;
	margin: 20px auto;
}

#main-content header{
    padding: 40px;
}

#main-content .content {
	padding: 40px;
    text-align: justify;
    max-width: 100%;
    margin: 0 auto;
}

#main-content .content img {
    width: 100%;
    height: 100%;
}

#main-content .pelikulak-content:last-child { /*main-content barruan dagoen .pelikulak-content daukan azkenengo elementua bakarrik*/
    padding-bottom: 40px; 
}

#main-content p::first-letter { /*HTML dokumento osoan dauden <p> guztien lehenengo letra, larria izango da*/
    text-transform: uppercase;
}
#main-content .formulario{
    padding: 40px;
    text-align: justify;
    max-width: 100%;
    margin: 0 auto;
}
/*****************MAIN CONTENT amaitu******************/

/****************KARTELDEGIA hasi*****************/

#karteldegia img {
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}

/*******************KARTELDEGIA amaitu********************/

/*****************PELIKULAK*****************/

.pelikulak-content p{
    width: 80%;
	margin: 20px auto;
    text-align: center;
}

.pelikulak-content {
    max-width: 800px;
}

/******************PELIKULAK*****************/

/********************ERRESERBAK hasi****************/

#izenburuak-erreserbak h4{
    margin: 0%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #f2f2f2;
    transition: background-color 0.3s ease;
}

#izenburuak-erreserbak a {
    text-decoration: none;
    display: block;
}
    
#izenburuak-erreserbak h4:hover {
    background-color: #b92929;
}

iframe {
    width: 100%;
    height: 50vh;
}

/*******************ERRESERBAK amaitu******************/

/******************IZENBURUAK hasi***************(Generoak,Pelikulak,Zinemak)*/
.izenburuak h4{
    margin: 10%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #f2f2f2;
    transition: background-color 0.3s ease;
}

.izenburuak a {
    text-decoration: none;
    display: block;
}
    
.izenburuak h4:hover {
    background-color: #b92929;
}

/***********************IZENBURUAK amaitu******************/

/*****************************login************************/
.hasisaioa{
    font-family: arial;
    margin: 0%;
    padding: 0%;

    box-sizing: border-box;
}


/* Formularioa eta kutxaren sorkuntza */
.formularioaH {
  width: 400px;
  height: 340px;
  background: #323030;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  box-shadow: 7px 13px 37px rgb(0, 0, 0);
  padding: 20px 30px;
  border-top: 4px solid #ff0000;
  color: #ff0000;
}

/* Formularioan tituluaren estiloa aldatzeko */
.formularioaH h5 {
    margin: 0%;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;
    font-size: 20px;
    color:white
}

/* Idazteko espazioak konfiguratzeko */
.control {
    width: 100%;
    border: 1px solid rgb(255, 0, 0);
    margin-bottom: 15px;
    padding: 15px 10px;
    background: #000000;
    font-size: 14px;
    font-weight: bold;
    color: white;
}

/* Botoiaren itxura */
.botoia {
    width: 100%;
    height: 40px;
    background: #ff0000;
    border: none;
    color: rgb(255, 255, 255);
    margin-bottom: 16px ;
    font-weight: bold;
}

/* "Ez dut pasahitza gogoratzen" itxura aldatzeko */
.formularioaH p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.formularioaH a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.formularioaH p:hover {
    text-decoration: underline;
}

/********************************************************************/
/* Formularioa eta kutxaren sorkuntza */
.formularioaI {
    width: 400px;
    height: 340px;
    background: #323030;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    box-shadow: 7px 13px 37px rgb(0, 0, 0);
    padding: 20px 30px;
    border-top: 4px solid #ff0000;
    color: #ff0000;
  }
  
  /* Formularioan tituluaren estiloa aldatzeko */
  .formularioaI h5 {
      margin: 0%;
      text-align: center;
      height: 40px;
      margin-bottom: 30px;
      border-bottom: 1px solid;
      font-size: 20px;
      color:white
  }
  .formularioaI p {
    height: 40px;
    text-align: center;
    border-bottom: 1px solid;
}
.formularioaI a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.formularioaI p:hover {
    text-decoration: underline;
}