/*ESTILO NAGUSIA*/

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
	margin: 0;
	padding: 0;
    height: 100%;
	font-family: Helvetica, Arial, sans-serif;
	color: #666;
	background: #f2f2f2; 
	font-size: 1em;
	line-height: 1.5em;
}

/*ESTILO NAGUSIA*/

/*GOHIBURUA*/

#main-header img {
    width: auto;
    height: 50px;
    margin-left: 20px;
}

#main-header #div2 {
    margin-right: 5px;
}

#main-header {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease; 
    color: white;
    margin-left: auto;
}

nav ul li a:hover {
    background-color: #b92929;
    transition: 0.3s ease;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

#gohiburua ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#gohiburua a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

#desplegablea-a {
    display: none;
    position: absolute;
    background-color:#333;
    min-width: 101px;
}

.dropdown:hover #desplegablea-a {
    display: block;
}

/***************GOHIBURUA amaitu******************/


/*****************MAIN CONTENT hasi******************/

h4 {
    text-align: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

h2 {
    text-align: center;
}

h1 {
	font-size: 2.3em;
	line-height: 1.3em;
	margin: 15px;
	text-align: center;
}

p {
	margin: 0 0 1.5em 0;
}

#main-content {
	background: white;
	max-width: 800px;
	margin: 20px auto;
}

#main-content header{
    padding: 40px;
}

#main-content .content {
	padding: 40px;
    text-align: justify;
    max-width: 100%;
    margin: 0 auto;
}

#main-content .content img {
    width: 100%;
    height: 100%;
}

#main-content .pelikulak-content:last-child { /*main-content barruan dagoen .pelikulak-content daukan azkenengo elementua bakarrik*/
    padding-bottom: 40px; 
}

#main-content p::first-letter { /*HTML dokumento osoan dauden <p> guztien lehenengo letra, larria izango da*/
    text-transform: uppercase;
}

/*****************MAIN CONTENT amaitu******************/

/****************KARTELDEGIA hasi*****************/

#karteldegia img {
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
    margin-bottom: 0;
}

/*******************KARTELDEGIA amaitu********************/

/*****************PELIKULAK*****************/

.pelikulak-content p{
    width: 80%;
	margin: 20px auto;
    text-align: center;
}

.pelikulak-content {
    max-width: 800px;
}

/******************PELIKULAK*****************/

/********************ERRESERBAK hasi****************/

#izenburuak-erreserbak h4{
    margin: 0%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #f2f2f2;
    transition: background-color 0.3s ease;
}

#izenburuak-erreserbak a {
    text-decoration: none;
    display: block;
}
    
#izenburuak-erreserbak h4:hover {
    background-color: #b92929;
}

iframe {
    width: 100%;
    height: 50vh;
}

/*******************ERRESERBAK amaitu******************/

/******************IZENBURUAK hasi***************(Generoak,Pelikulak,Zinemak)*/
.izenburuak h4{
    margin: 10%;
    margin-bottom: 0;
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #f2f2f2;
    transition: background-color 0.3s ease;
}

.izenburuak a {
    text-decoration: none;
    display: block;
}
    
.izenburuak h4:hover {
    background-color: #b92929;
}

/***********************IZENBURUAK amaitu******************/

/********************FOOTER hasi******************/

footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}

.fi {
    margin-top: 20px;
}

footer a:hover {
    color: #b92929;
}

#logoa {
    width: 80px;
    border: 2px solid #f2f2f2;
    border-radius: 100px;
}

#sareak img{
    width: 40px;
    display: inline-block;
    opacity: 0.4;
    transition: 0.3s ease;
}

#sareak img:hover {
    transition: 0.3s ease;
    opacity: 1;
}


@media screen and (max-width: 600px){
    #main-header {
        flex-direction: column;
        align-items: center;
    }



    #main-header img {
        margin: 0;
    }
    
    nav ul li {
        margin-right: 15px;
    }

    nav ul li:first-child {
        margin-left: 20px;
    }

    #desplegablea-a {
        min-width: 21%;
    }
}

/*FOOTER amaitu*/