
/*GOHIBURUA*/

#main-header img {
    width: auto;
    height: 50px;
    margin-left: 20px;
}

#main-header #div2 {
    margin-right: 5px;
}

#main-header {
    display: flex;
    background-color: #333;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
nav ul li a {
    text-decoration: none;
    padding: 10px;
    display: block;
    transition: background-color 0.3s ease; 
    color: white;
    margin-left: auto;
}

nav ul li a:hover {
    background-color: #b92929;
    transition: 0.3s ease;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

#gohiburua ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

#gohiburua a {
    display: block;
    color: white;
    text-align: center;
    text-decoration: none;
}

#desplegablea-a {
    display: none;
    position: absolute;
    background-color:#333;
    min-width: 101px;
}

.dropdown:hover #desplegablea-a {
    display: block;
}

/***************GOHIBURUA amaitu******************/



/********************FOOTER hasi******************/

footer {
	background: #333;
	color: white;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
    flex-grow: 1;
}
.fi {
    margin-top: 20px;
}
footer a:hover {
    color: #b92929;
}
#logoa {
    width: 80px;
    border: 2px solid #f2f2f2;
    border-radius: 100px;
}
#sareak img{
    width: 40px;
    display: inline-block;
    opacity: 0.4;
    transition: 0.3s ease;
}
#sareak img:hover {
    transition: 0.3s ease;
    opacity: 1;
}
@media screen and (max-width: 600px){
    #main-header {
        flex-direction: column;
        align-items: center;
    }
    #main-header img {
        margin: 0;
    } 
    nav ul li {
        margin-right: 15px;
    }
    nav ul li:first-child {
        margin-left: 20px;
    }
    #desplegablea-a {
        min-width: 21%;
    }
}

/*FOOTER amaitu*/